<div class="ud-header">
  </div>
  <div class="ud-body">
    <div class="msg-box">
      <ul>
        <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.user === msg.user ? 'in-msg' : 'ex-msg'">{{mObj.user}} :<br /><span class="msg-italic-style">{{mObj.msgText}}</span></li>
      </ul>
    </div>
    <div class="ud-flex-row">
      <input matInput type="text" id="message" placeholder="Type message here" class="msg-input" [(ngModel)]="msg.msgText"  />
      <button class="send-btn" id="send-btn" (click)= "send()" >Send</button>
    </div>
    <input matInput type="text" id="name" placeholder="Your name" class="name-box" [(ngModel)]="msg.user" />
  </div>