<body>
    <div id="cart" class="cart" data-totalitems="0">
        <i class="fas fa-shopping-cart"></i>
        </div>
    <h3 class="text">Games:</h3>
    <div class= "content" >
        <div class="games" fxLayout="row wrap" fxLayoutGap="60px grid" fxLayoutAlign="start none">
            <div fxFlex="30%" fxFlex.xs="300px" fxFlex.sm="33%" *ngFor="let game of wishlistGames">
                <mat-card class="mat-elevation-z4" id="card">
                    <mat-card-header class="header">
                        <mat-card-title>{{game.title}}</mat-card-title>
                    </mat-card-header>
                    <img
                    src="{{game.image}}"
                    />
                    <mat-card-content>
                        <p>Genre: {{game.genre}}</p>
                        <p>Price: {{game.price}}</p>
                    </mat-card-content>
                    <mat-card-actions class="actions">
                        <div class="page-wrapper">
                            <button mat-raised-button color="primary" id="addtocart">
                              Add to Cart
                              <span class="cart-item"></span>
                            </button>
                            <button mat-raised-button color="primary" id="details" >
                                Remove
                            </button>
                          </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</body>
