<div class="wrapper">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="" (click)="homeBtnClick()">Gamediate</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="chat-button" aria-label="chat-button with chat icon" (click)="chatBtnClick()"> 
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button class="favorite-button" aria-label="account-button with account icon" (click)="favoriteBtnClick()"> 
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="account-button" aria-label="account-button with account icon" (click)="accountBtnClick()"> 
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="cart-button" aria-lable="cart-button with cart icon" (click)="btnClick();">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

</div>
<p><b>hubHelloMessage:</b>{{ hubHelloMessage }}</p>


<router-outlet></router-outlet>
