h2 {
    color:white;
}
p {
    color:black;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgba(37, 35, 35, 0.5);
    box-shadow: 0 8px 32px 0 rgba(43, 44, 48, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.18);
    height: 200px;
    width: 300px
}


mat-form-field.mat-form-field {
    font-size: 14px;
    color:white;
    position: relative;
    margin:auto;
    padding-right: 10px;
}

mat-label {
    color:white;
}
button {
    background-color:aqua;
}
.mat-raised-button {
    background-color: rgba(10,35,104,1);
}

