img {
   max-width: 100%;
   max-height: 100%;
   min-width: 100%;
   min-height: 150px; 
}
.mat-elevation-z4 {
    min-height: 100%;
}
.actions {
    position: relative;
    top:20px;
}
.header {
    height: 80px;
}
.games {
    justify-content: center;
}
.text {
    padding-left: 5%;
    padding-top: 3%;
}