img {
   max-width: 250px;
   max-height: 150px;
   min-width: 250px;
   min-height: 150px; 
}
mat-card {
    min-height: 100%;
    min-width: 100%;
}
.actions {
    position: relative;
    top:20px;
}
.header {
    height: 80px;
}
.games {
    justify-content: center;
    padding-left: 70px;
    overflow-x: hidden;
}
.text {
    padding-left: 70px;
    padding-top: 30px;
}
