<h2>Register</h2>
<div class="wrapper">
  <meta name="referrer" content="unsafe-url">
    <form ngNativeValidate #userForm="ngForm">
      <mat-form-field appearance="fill" >
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstname" placeholder="First Name" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastname" placeholder="Last Name" ngModel>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" >
        <mat-label>Address</mat-label>
        <input matInput type="text" name="address" placeholder="Address" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>House Number</mat-label>
        <input matInput type="text" name="housenumber" placeholder="House Number" ngModel>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" >
        <mat-label>City</mat-label>
        <input matInput type="text" name="city" placeholder="city" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Postal Code</mat-label>
        <input matInput type="text" name="postalcode" placeholder="Postal Code" ngModel>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" >
        <mat-label>Phone number</mat-label>
        <input matInput type="text" name="phonenumber" placeholder="Phone Number" ngModel>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill" >
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" placeholder="Email" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Password</mat-label>
        <input matInput type="text" name="password" placeholder="Password" ngModel>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" type="submit" (click)="onClickSubmit(userForm.value)">
        Submit
      </button>
    </form>
</div>

