h2 {
    color:white;
}
p {
    color:white;
}
mat-form-field {
    outline: white;
}
.wrapper {
    background-color: rgba(37, 35, 35, 0.5);
    box-shadow: 0 8px 32px 0 rgba(43, 44, 48, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.18);
    height: auto;
    width: auto;
}
.mat-raised-button {
    background-color: rgba(10,35,104,1);
}
mat-label {
    color:white;
}
mat-form-field {
    padding-right: 10px;
}
input {
    color:white;
}