<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="wrapper">
        <meta name="referrer" content="unsafe-url">
          <form ngNativeValidate #userForm="ngForm">
            <mat-form-field appearance="fill" >
              <mat-label>{{account.firstName}}</mat-label>
              <input matInput type="text" name="firstName" placeholder="First Name" ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.lastName}}</mat-label>
              <input matInput type="text" id="lastName" name="lastName" placeholder="Last Name" ngModel>
              <script type="text/javascript">
                document.querySelector('input[name="lastName"]').value = '{{account.lastName}}';
              </script>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.address}}</mat-label>
              <input matInput type="text" name="address" placeholder="Address" ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.houseNumber}}</mat-label>
              <input matInput type="text" name="houseNumber" placeholder="House Number" ngModel>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.city}}</mat-label>
              <input matInput type="text" name="city" placeholder="city" ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.postalCode}}</mat-label>
              <input matInput type="text" name="postalCode" placeholder="Postal Code" ngModel>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill" >
              <mat-label>{{account.phoneNumber}}</mat-label>
              <input matInput type="text" name="phoneNumber" placeholder="Phone Number" ngModel>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" type="submit" (click)="btnEdit(userForm.value)">
              Confirm edit
            </button>
          </form>
      </div>
    <br/>
    <button mat-raised-button color="primary" type="submit" (click)="btnLogout()">
        Logout
    </button>
</body>
</html>

